<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Challenge</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/user/styles.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
		<script type="module" src="{{url_for('static', filename='js/user/challenge.js')}}"></script>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<button type="button" class="btn btn-primary btn-lg" id="toggleMetronomeButton">Start</button>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<object data="/user/fetch_challenge_svg" type="image/svg+xml" id="musicSvgFile" width="100%" height="100%"></object>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12">
					<button type="button" class="btn btn-secondary btn-lg" id="moveToNextChallengeButton" disabled>Move to the next challenge</a>
				</div>
			</div>
		</div>
		<script>
			var courseID = "{{courseID}}";
			var challengeID = "{{challengeID}}";
			var musicNotationData = JSON.parse({{music_notation_data|tojson}});
			var midiNotesToDrumName = JSON.parse('{{midi_notes_to_drum_name | tojson}}');
			var svgIndexes = JSON.parse({{svg_indexes|tojson}});
		</script>
	</body>
</html>