<html lang="en" style="--highlight-bg:#fff; --highlight-color:#000; --box-highlight:rgba(55,99,244,0.8);">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>home</title>
    <meta name="description" content="The most interactive way to drum" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/user/jquery-msgpopup.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/user/jquery-msgpopup.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-xl-6 offset-xl-3">
                <form method="POST" action="/user/forgot-password">
					<label class="form-label fw-bolder" for="emailInput">Enter your email</label>
					<input id="emailInput" class="form-control" type="email" placeholder="Enter your email" name="userEmail" />
					<button class="btn btn-primary mt-1" type="submit">Submit</button>
				</form>
            </div>
        </div>
    </div>
	<script>
		var message = '{{message}}';

		if (message != "") {
			$().msgpopup({
				text: message
			});
		}
	</script>
</body>

</html>