<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - BeatBuddy</title>
    <meta name="description" content="The most interactive way to drum">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>
    <!-- Start: Header Light -->
	<nav id="mainNav" class="navbar navbar-dark navbar-expand-md sticky-top navbar-shrink py-3" style="background: rgb(45, 44, 56);">
		<div class="container"><a class="navbar-brand d-flex align-items-center" href="/user/"><img src="{{url_for('static', filename='media/beatbuddy.svg')}}" style="width: 237px;" /></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
			<div id="navcol-1" class="collapse navbar-collapse">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a class="nav-link active" href="#pricing">Pricing</a></li>
					<li class="nav-item"><a class="nav-link active" href="/user/login">Log in</a></li>
				</ul><a class="btn btn-primary shadow" role="button" href="/user/signup">Sign up</a>
			</div>
		</div>
	</nav>

	<section class="mt-5">
		<div class="row mt-5" style="margin-right: 0px;margin-left: 0px;">
			<div class="col-lg-8 offset-lg-2">
				<h2 class="fw-bold" style="text-align: center;">The most interactive way to learn the drums</h2>
			</div>
		</div>
		<div class="row mt-5" style="margin-right: 0px;margin-left: 0px;">
			<div class="col-lg-8 offset-lg-2">
				<div class="col"><img src="{{url_for('static', filename='media/landing-page/example-challenge.png')}}" style="width: 100%;height: 100%;border-radius: 15px;" /></div>
			</div>
		</div>
	</section>

	<section class="mt-5">
		<div class="row mb-5" style="margin-right: 0px;margin-left: 0px;">
			<div class="col-md-8 col-xl-6 text-center mx-auto">
				<h2 class="fw-bold">How to get started?</h2>
			</div>
		</div>
		<div class="row mt-5" style="margin-right: 0px;margin-left: 0px;">
			<div class="col-lg-8 offset-lg-2 mb-3">
				<h1 style="text-align: left;font-size: 24.74px;"><strong>Enroll in a course</strong></h1>
				<h1 style="font-size: 23.74px;text-align: left;color: rgb(164,164,164);">Search through courses from beginner to advanced, jazz to rock. Whatever your level of skill or preferred genre, BeatBuddy has you covered.</h1>
			</div>
		</div>
		<div class="row" style="margin-right: 0px;margin-left: 0px;">
			<div class="col-lg-6 offset-lg-3" style="text-align: center;"><img src="{{url_for('static', filename='media/landing-page/course.png')}}" style="border-radius: 32px;width: 100%;height: 100%;" width="691" height="414" /></div>
		</div>
		<div class="row mt-5" style="margin-right: 0px;margin-left: 0px;">
			<div class="col-lg-8 offset-lg-2 mb-3">
				<h1 style="text-align: left;font-size: 24.74px;"><strong>Play through the challenges...</strong></h1>
				<h1 style="font-size: 23.74px;text-align: left;color: rgb(164,164,164);">Analyse where you went out of time with BeatBuddy&#39;s real time feedback. Move to the next challenge once you've played the music correctly.</h1>
			</div>
		</div>
		<div class="row" style="margin-right: 0px;margin-left: 0px;">
			<div class="col-lg-6 offset-lg-3" style="text-align: center;"><img src="{{url_for('static', filename='media/landing-page/challenge.png')}}" style="border-radius: 32px;width: 100%;height: 100%;" width="691" height="414" /></div>
		</div>
	</section>

    <!-- Start: Pricing -->
    <section id="pricing" class="pt-3 mt-3">
        <!-- Start: Pricing Duo -->
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold">Pricing</h2>
                </div>
            </div>
            <div class="row g-0 row-cols-1 row-cols-md-2 row-cols-xl-3 d-flex align-items-md-center align-items-xl-center">
                <div class="col offset-xl-2 mb-4">
                    <div class="card bg-light border-light">
                        <div class="card-body bg-dark p-4">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3 class="fw-bold mb-0">Basic</h3>
                                    <h4 class="display-4 fw-bold">Free</h4>
                                </div>
                            </div>
                            <div>
                                <ul class="list-unstyled">
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon bs-icon-xs me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-primary">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span>Access to limited courses</span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-primary-light bs-icon bs-icon-xs me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-primary">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span>Live feedback</span></li>
                                </ul>
                            </div><button class="btn btn-primary d-block w-100" type="button">Continue</button>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card text-white bg-primary">
                        <div class="card-body p-4">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3 class="fw-bold text-white mb-0">Pro</h3>
                                    <h4 class="display-4 fw-bold text-white">£5.99</h4>
                                </div>
                                <div><span class="badge rounded-pill bg-primary text-uppercase bg-semi-white">Best Value</span></div>
                            </div>
                            <div>
                                <ul class="list-unstyled">
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-semi-white bs-icon bs-icon-xs me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-primary">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span>Access to all courses</span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-semi-white bs-icon bs-icon-xs me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-primary">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span>Live feedback</span></li>
                                    <li class="d-flex mb-2"><span class="bs-icon-xs bs-icon-rounded bs-icon-semi-white bs-icon bs-icon-xs me-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check-lg text-primary">
                                                <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"></path>
                                            </svg></span><span>Rudiment practice</span></li>
                                </ul>
                            </div><a href="/user/payment" class="btn btn-primary d-block w-100 bg-semi-white" type="button">Continue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End: Pricing Duo -->
    </section><!-- End: Pricing -->
    <!-- Start: Newsletter Subscription Color -->
    <section class="py-5">
        <div class="container">
            <div class="bg-dark border rounded border-dark d-flex flex-column justify-content-between align-items-center flex-lg-row p-4 p-lg-5">
                <div class="text-center text-lg-start py-3 py-lg-1">
                    <h2 class="fw-bold mb-2">Subscribe to our newsletter</h2>
                </div>
                <form class="d-flex justify-content-center flex-wrap flex-lg-nowrap" method="POST" action="/user/subscribe-to-newsletter">
                    <div class="my-2"><input class="border rounded-pill shadow-sm form-control" type="email" name="email" placeholder="Your Email"></div>
                    <div class="my-2"><button class="btn btn-primary shadow ms-2" type="submit">Subscribe</button></div>
                </form>
            </div>
        </div>
    </section><!-- End: Newsletter Subscription Color -->
    <!-- Start: Footer Multi Column -->
    <footer class="bg-dark">
        <div class="container py-4 py-lg-5">
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Copyright © 2023 BeatBuddy</p>
				<a href="/user/terms-and-conditions"><span style="color: rgb(176, 189, 211);">Terms and Conditions</span></a>
            </div>
        </div>
    </footer><!-- End: Footer Multi Column -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/user/bold-and-dark.js') }}"></script>
	</body>
</html>