<html lang="en" style="--highlight-bg:#fff; --highlight-color:#000; --box-highlight:rgba(55,99,244,0.8);">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>home</title>
    <meta name="description" content="The most interactive way to drum" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/bootstrap.min.css') }}">
</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-xl-6 offset-xl-3">
                <form method="POST" action="/user/reset-password">
					<input type="hidden" name="token" value="{{token}}" />

					<label class="form-label fw-bolder" for="newPassword">Enter your new password</label>
					<input name="newPassword" id="newPassword" class="form-control" type="password" placeholder="Enter your new password" name="userEmail" required />
					<label class="form-label fw-bolder" for="confirmPassword">Confirm your new password</label>
					<input id="confirmPassword" class="form-control" type="password" placeholder="Confirm your new password" name="userEmail" required />
					<button class="btn btn-primary mt-1" type="submit">Change</button>
				</form>
            </div>
        </div>
    </div>
</body>

</html>