<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>home</title>
    <meta name="description" content="The most interactive way to drum" />

	<link rel="stylesheet" href="{{ url_for('static', filename='css/user/bootstrap.min.css') }}">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-md sticky-top py-3" id="mainNav">
        <div class="container">
			<a class="navbar-brand d-flex align-items-center" href="/user/"><img src="{{ url_for('static', filename='media/beatbuddy.svg') }}" style="width: 237px;" /></a>
		</div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col mt-5" style="padding-left: 12px;">
                <h1 class="text-center" style="margin-bottom: 8px;"><strong>Terms and Conditions for BeatBuddy:</strong></h1>
                <h3 class="text-start mt-3" style="margin-bottom: 8px;">Welcome to BeatBuddy, a website that provides musical education for drummers. These Terms and Conditions govern your use of our website, located at <span><a href="https://www.beatbuddy.xyz" style="color: var(--bs-blue);">https://www.beatbuddy.xyz</a></span>, as well as any content, features, or functionalities offered on or through the Site (collectively, the &quot;Services&quot;). By accessing or using the Site or Services, you agree to be bound by these Terms and Conditions, our Privacy Policy, and any other policies or guidelines posted on the Site or provided to you in connection with the Services.</h3>
                <h3 class="text-start mt-3" style="margin-bottom: 8px;"><strong>Use of the Site:</strong>
                    <div><br /></div>The Site is intended for use by individuals who are at least 13 years old. By using the Site, you represent and warrant that you meet this age requirement and have the legal capacity to enter into these Terms and Conditions.<br />You agree to use the Site and Services only for lawful purposes and in a manner consistent with these Terms and Conditions and any applicable laws and regulations. You may not use the Site or Services in any manner that could damage, disable, overburden, or impair our servers or networks, or interfere with any other party&#39;s use and enjoyment of the Site or Services.
                </h3>
                <h3 class="text-start mt-3" style="margin-bottom: 8px;"><strong>Intellectual Property:</strong>
                    <div><br /></div>The Site and its entire contents, features, and functionality (including but not limited to all information, software, text, displays, images, video, and audio, and the design, selection, and arrangement thereof), are owned by us or our licensors and are protected by United Kingdom and international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights laws. You may not reproduce, distribute, modify, create derivative works of, publicly display, publicly perform, republish, download, store, or transmit any of the material on our Site, except as follows:
                </h3>
                <ul>
                    <li class="fs-3">Your computer may temporarily store copies of such materials in RAM incidental to your accessing and viewing those materials.</li>
                    <li class="fs-3">You may store files that are automatically cached by your Web browser for display enhancement purposes.</li>
                    <li class="fs-3">You may print or download one copy of a reasonable number of pages of the Site for your own personal, non-commercial use and not for further reproduction, publication, or distribution.</li>
                </ul>
                <h3 class="text-start mt-3" style="margin-bottom: 8px;"><strong>User Content:</strong>
                    <div><br /></div>The Site may allow you to submit or upload content, such as comments, reviews, ratings, or other materials (collectively, &quot;User Content&quot;). You retain all rights in, and are solely responsible for, the User Content you submit or upload to the Site. By submitting or uploading User Content to the Site, you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use, copy, modify, create derivative works based on, distribute, publicly display, publicly perform, and otherwise exploit in any manner such User Content in all formats and distribution channels now known or hereafter devised (including in connection with the Site and our business and on third-party sites and services), without further notice to or consent from you, and without the requirement of payment to you or any other person or entity.
                </h3>
                <h3 class="text-start mt-3" style="margin-bottom: 8px;"><strong>Disclaimer of Warranties:</strong>
                    <div><br /></div>The Site and Services are provided on an &quot;as is&quot; and &quot;as available&quot; basis, without any warranties of any kind, either express or implied. We do not warrant that the Site or Services will be uninterrupted or error-free, that defects will be corrected, or that the Site or Services are free of viruses or other harmful components. We disclaim all warranties, express or implied, including but not limited to implied warranties of merchantability, fitness for a particular purpose, and non-infringement. We do not warrant or make any representation regarding the use or the results of the use of the Site or Services in terms of their correctness, accuracy, reliability, or otherwise.<br />
                </h3>
                <h3 class="text-start mt-3" style="margin-bottom: 8px;"><strong>Limitation of Liability:</strong>
                    <div><br /></div>In no event shall we, our affiliates, or our licensors be liable for any direct, indirect, incidental, special, or consequential damages arising out of or in connection with the use or inability to use the Site or Services, even if we have been advised of the possibility of such damages. Some jurisdictions do not allow the exclusion or limitation of liability for consequential or incidental damages, so the above limitation may not apply to you.
                </h3>
                <h3 class="text-start mt-3" style="margin-bottom: 8px;"><strong>Indemnification:</strong>
                    <div><br /></div>You agree to defend, indemnify, and hold us and our affiliates and licensors, and our and their respective officers, directors, employees, agents, successors, and assigns harmless from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses, or fees (including reasonable attorneys&#39; fees) arising out of or relating to your violation of these Terms and Conditions or your use of the Site or Services.<br />
                </h3>
                <h3 class="text-start mt-3" style="margin-bottom: 8px;"><strong>Termination:</strong>
                    <div><br /></div>We may terminate or suspend your access to all or any part of the Site or Services at any time, with or without cause, with or without notice, effective immediately. Upon termination, all licenses and other rights granted to you in these Terms and Conditions will immediately cease.
                </h3>
                <h3 class="text-start mt-3" style="margin-bottom: 8px;"><strong>Governing law:</strong>
                    <div><br /></div>These Terms and Conditions and your use of the Site and Services shall be governed by and construed in accordance with the laws of United Kingdom, without giving effect to any choice or conflict of law provision or rule.
                </h3>
                <h3 class="text-start mt-3" style="margin-bottom: 8px;"><strong>Changes to Terms and Conditions:</strong>
                    <div><br /></div>We may revise and update these Terms and Conditions from time to time in our sole discretion. All changes are effective immediately when we post them, and apply to all access to and use of the Site and Services thereafter. Your continued use of the Site or Services following the posting of revised Terms and Conditions means that you accept and agree to the changes.<br />
                </h3>
                <h3 class="text-start mt-3" style="margin-bottom: 8px;"><strong>Contact Us:</strong>
                    <div><br /></div>If you have any questions about these Terms and Conditions, please contact us at beatbuddy@beatbuddy.xyz
                </h3>
                <h3 class="text-start mt-3" style="margin-bottom: 8px;">By using BeatBuddy, you agree to these Terms and Conditions. Thank you for using BeatBuddy!</h3>
            </div>
        </div>
    </div>
</body>

</html>