<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>MIDI</title>
		<script type="module" src="{{url_for('static', filename='js/app.js')}}"></script>
	</head>

	<body>
		<button class="toggleMetronomeButton">Start</button>

		<div id="sheet-notation-picture">
			<object data="{{url_for('static', filename='media/challenge1.svg')}}" type="image/svg+xml" id="music-svg-file" width="70%" height="70%"></object>
		</div>
	</body>
</html>