#home-page {
	background-color: #fff0e5;
}

#musicSvgFile {
	border: 4px solid black;
	border-radius: 20px;
}

#toggleMetronomeButton {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 20px;
}

#moveToNextChallengeButton {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 20px;
}

.form-group {
	margin: 10px;
}

#signupButton {
	margin: 10px;
}

#signupCard {
	margin: 10px;
}

.user-courses-block {
	margin-top: 50px;
}

#courses-heading {
	margin-top: 20px;
	margin-bottom: 25px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
}

#course-block {
	width: 100%;
	background-color: white;
}

#course-course {
	font-size: 19px;
	font-family: 'Courier New', Courier, monospace;
	padding-left: 25px;
	padding-top: 25px;
}

#course-title {
	font-size: 19px;
	font-family: 'Courier New', Courier, monospace;
	padding-left: 25px;
	padding-bottom: 25px;
	font-weight: bold;
}

#course-continue-button {
	background-color: #3a10e5;
	border-color: #3a10e5;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	margin-top: 25px;
}