:root {
	--primary-color: #A3E7FC;
	--secondary-color: #23CE6B;
	--font-family: 'Courier New', Courier, monospace;
}

#home-page {
	background-color: var(--primary-color);
}

#challenge-page {
	background-color: var(--primary-color);
}

#login-page {
	background-color: var(--primary-color);
}

#signup-page {
	background-color: var(--primary-color);
}

#musicSvgFile {
	background-color: #ffffff;
	border-radius: 20px;
}

#challengeButtonsRow {
	margin-top: 4%;
	margin-bottom: 1%;
}

#toggleMetronomeButton {
	width: 100%;
	border-radius: 20px;
	background-color: var(--secondary-color);
	border-color: var(--secondary-color)
}

#moveToNextChallengeButton {
	width: 100%;
	border-radius: 20px;
}

.form-group {
	margin: 10px;
}

.form-block {
	margin-top: 30px;
	padding: 10px;
	border-radius: 10px;
	background-color: #ffffff;
	font-family: var(--font-family);
	font-weight: bold;
}

.user-courses-block {
	margin-top: 50px;
}

#courses-heading {
	margin-top: 20px;
	margin-bottom: 25px;
	font-family: var(--font-family);
	font-weight: bold;
}

#course-block {
	width: 100%;
	background-color: white;
}

.course-info {
	font-size: 19px;
	font-family: var(--font-family);
	padding-left: 25px;
}

.course-course {
	padding-top: 25px;
}

.course-title {
	font-weight: bold;
	padding-bottom: 25px;
}

#course-continue-button {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
	font-family: var(--font-family);
	font-weight: bold;
	margin-top: 25px;
}

#submitButton {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
	margin: 10px;
	font-weight: bold;
}