#musicSvgFile {
	border: 4px solid black;
	border-radius: 20px;
}

#toggleMetronomeButton {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 20px;
}

#moveToNextChallengeButton {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 20px;
}

.form-group {
	margin: 10px;
}

#signupButton {
	margin: 10px;
}

#signupCard {
	margin: 10px;
}

#courses-heading {
	margin-top: 10px;
	font-family: 'Courier New', Courier, monospace;
}

#courseCard {
	margin-top: 10px;
	width: 100%;
}